<!DOCTYPE html>
<html>
<head>
  <title>Event Management</title>
    <style>
        body {
  font-family: Arial, sans-serif;
  background-color: #faf2f2;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #2d4059;
  padding: 20px;
}

.btn {
  text-decoration: none;
}

button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Add more styling as needed */

    </style>
</head>
<body>
<div class="container">
  <h1 style="color: #fff; background-color: #000000;">Welcome to the Event Management System</h1>
  <a href="/addEvent"><button>Add Events</button></a>
  <a href="/events"><button>Show My Events</button></a>
</div>
</body>
</html>
